{{page-title "PlayerBasic"}}

<div class="font-sf flex items-center justify-center min-h-screen">
  <div class="text-lg space-y-10 text-gray-700">
    <div class="space-y-0.5">
      <div>Hello, I'm <a href="https://www.linkedin.com/in/devinpigera" target="blank" class="bg-gray-300 px-1">Devin</a></div>
      <div class="mx-8">I live in Austin, TX.</div>
    </div>

    <div class="space-y-0.5">
      <div>I am a</div>
        <div class="mx-8">2x Exited Founder</div>
      <div>That's a</div>
        <div class="mx-8">Full Stack Engineer, UX Designer</div>
        <div class="mx-8">and Inventor.</div>
    </div>

    <div class="space-y-0.5">
      <div>I created</div>
        <div class="mx-8"><a href="https://tilt.vc" target="blank" class="bg-gray-300 px-1">Tilt Ventures</a></div>
      <div>To</div>
        <div class="mx-8">Build and Sell Product 90% cheaper</div>
      <div>Using</div>
        <div class="mx-8">AI</div>
        <div class="mx-8">Offshoring</div>
        <div class="mx-8">and Experience.</div>
    </div>


    <div class="space-y-0.5">
      <div>Please, <span>stay in touch</span></div>
        <div class="mx-8">Hug Cats</div>
        <div class="mx-8">and Create Art.</div>
    </div>
  </div>
</div>


{{outlet}}